pipeline/Dynamic Backup Parent.json
{
	"name": "Dynamic Backup Parent",
	"properties": {
		"activities": [
			{
				"name": "Lookup Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_SCHEMA as schemas,\n\tTABLE_NAME as tables\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'\nAND TABLE_SCHEMA <> 'dbo'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DynBackupControl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DynBackup_ForEach",
				"description": "Copy tables to data store",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "MasterPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Dynamic Backup Child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Schema": {
										"value": "@{item().schemas}",
										"type": "Expression"
									},
									"Table": {
										"value": "@{item().tables}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Dynamic Backup"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-02T10:03:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}