pipeline/pipPhyschem_rSampleResults.json
{
	"name": "pipPhyschem_rSampleResults",
	"properties": {
		"activities": [
			{
				"name": "List ServerNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT [DBServerIP] FROM [dbo].[Tables]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LKP_SERVERNAMES",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PullEachTableInServer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List ServerNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List ServerNames').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyrSampleResults",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DF_SCR_RSAMPLERES",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}