SupplyDataStore-DF-AFR-DEV-3/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SupplyDataStore-DF-AFR-DEV-3"
		},
		"AzureDataStore_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureDataStore'"
		},
		"AzureSQLSupplyCalc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSQLSupplyCalc'"
		},
		"DataStore_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DataStore'"
		},
		"PhysChem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PhysChem'"
		},
		"ReferenceData_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ReferenceData'"
		},
		"SupplyBlobStore_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SupplyBlobStore'"
		},
		"SupplyFiles_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SupplyFiles'"
		},
		"SupplyStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SupplyStorage'"
		},
		"TargetSource_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TargetSource'"
		},
		"lsPhysChem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lsPhysChem'"
		},
		"lsPhysChemSink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lsPhysChemSink'"
		},
		"supplydatastore_server_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'supplydatastore_server'"
		},
		"OnPremise_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/15bcebd1-794e-49c6-9548-8a4a4357ee16/resourcegroups/SupplyDataStoreRG-RG-AFR-DEV/providers/Microsoft.DataFactory/factories/SupplyDataStore-DF-AFR-DEV-2/integrationruntimes/OnPremise"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_BCIChem_Ochestrate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ETL2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BCIETL1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clear Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLSupplyCalc",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PhySchemALR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Physchem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemCHAM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemALR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPOL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemCHAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_srcPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemNEW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemNEW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemIBY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Union All",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemIBY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Union]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_Union",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ALR')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_ALR')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_CHAM')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_CHAM')]",
				"[concat(variables('factoryId'), '/datasets/ds_srcPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_IBY')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_IBY')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_Union')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BCIETL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lkp_OldEnteredDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT Max(EnteredDateTime) as MaxEnteredDateTime\n  FROM [Fact].[PhyChem_Data]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_lkp_oldDate",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy To Fact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lkp_OldEnteredDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n       [ODSBreweryCode]\n      ,[FYEAR]\n      ,[FMONTH]\n      ,[FWEEK]\n      ,[FDAY]\n      ,[DEPARTMENT]\n      ,[PROCESS_AREA]\n      ,[PARAMETER]\n      ,[ORDER_NUMBER]\n      ,[IN_SPEC]\n      ,[OPPORTUNITIES]\n      ,[PERC_IN_SPEC]\n      ,[EnteredDateTime]\n  FROM [Staging].[PhyChem_Data]\n  WHERE MaxEnteredDateTime > '@{activity('Lkp_OldEnteredDate').output.firstRow.MaxEnteredDateTime}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChemCopyToFact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Fact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_lkp_oldDate')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChemCopyToFact')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_Fact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BCI_Orchestrate_remote')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ETL2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Completion Callback",
						"description": "Call back for synchronous remote trigger operation ",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ETL2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.callBackUri",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"Output\":{\"InputParam\":\"BCI - Completed Successfully\"},\"StatusCode\":\"200\"}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FailCallback",
						"description": "Call back for synchronous remote trigger operation failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ETL2",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.callBackUri",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"Output\":{\"InputParam\":\"BCI - Operation Failed\"},\"StatusCode\":\"501\"}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"callBackUri": {
						"type": "string"
					},
					"myInputParam1": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PhysChemETL1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clear Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLSupplyCalc",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PhySchemALR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Physchem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemCHAM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemALR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPOL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemCHAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_srcPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemNEW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemNEW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemIBY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Union All",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemIBY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Union]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_Union",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ALR')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_ALR')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_CHAM')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_CHAM')]",
				"[concat(variables('factoryId'), '/datasets/ds_srcPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_IBY')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_IBY')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_Union')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PhysChemETL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lkp_OldEnteredDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT Max(EnteredDateTime) as MaxEnteredDateTime\n  FROM [Fact].[PhyChem_Data]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_lkp_oldDate",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy To Fact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lkp_OldEnteredDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n       [ODSBreweryCode]\n      ,[FYEAR]\n      ,[FMONTH]\n      ,[FWEEK]\n      ,[FDAY]\n      ,[DEPARTMENT]\n      ,[PROCESS_AREA]\n      ,[PARAMETER]\n      ,[ORDER_NUMBER]\n      ,[IN_SPEC]\n      ,[OPPORTUNITIES]\n      ,[PERC_IN_SPEC]\n      ,[EnteredDateTime]\n  FROM [Staging].[PhyChem_Data]\n  WHERE MaxEnteredDateTime > '@{activity('Lkp_OldEnteredDate').output.firstRow.MaxEnteredDateTime}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChemCopyToFact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Fact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_lkp_oldDate')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChemCopyToFact')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_Fact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PhysChem_Ochestrate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PhysChemETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ETL2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_PhysChemETL2')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PhysChem_Orchestrate_remote')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PhysChemETL1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ETL2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PhysChemETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Completion Callback",
						"description": "Call back for synchronous remote trigger operation ",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ETL2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.callBackUri",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"Output\":{\"InputParam\":\"Physchem - Completed Successfully\"},\"StatusCode\":\"200\"}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FailCallback",
						"description": "Call back for synchronous remote trigger operation failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ETL2",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.callBackUri",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"Output\":{\"InputParam\":\"Physchem - Operation Failed\"},\"StatusCode\":\"501\"}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"callBackUri": {
						"type": "string"
					},
					"myInputParam1": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_PhysChemETL1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_PhysChemETL2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lkp_oldDate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Fact",
					"table": "PhyChem_Data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChemCopyToFact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_ALR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.13"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_CHAM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.116"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_IBY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.196"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_NEW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.39"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_PROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.178"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_ROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.139"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_Union')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_ALR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_ALR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_CHAM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_CHAM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_Data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_Fact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "UPDATED DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Fact",
					"table": "PhyChem_Data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_IBY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_IBY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_NEW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_NEW"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_POL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_POL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_PROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_PROS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_ROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_ROS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLSupplyCalc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_srcPhysChem_POL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.87"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataStore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AzureDataStore_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLSupplyCalc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSQLSupplyCalc_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataStore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DataStore_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PhysChem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ServerName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PhysChem_connectionString')]"
				},
				"connectVia": {
					"referenceName": "OnPremise",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/OnPremise')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReferenceData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('ReferenceData_connectionString')]",
					"fileShare": "referencedata"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SupplyBlobStore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('SupplyBlobStore_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SupplyFiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('SupplyFiles_connectionString')]",
					"fileShare": "testfolder"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SupplyStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('SupplyStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TargetSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('TargetSource_connectionString')]",
					"fileShare": "targets"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsPhysChem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"server": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('lsPhysChem_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsPhysChemSink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('lsPhysChemSink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/supplydatastore_server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('supplydatastore_server_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RunSchedule')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-11-08T12:10:00",
						"timeZone": "South Africa Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremise')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('OnPremise_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}