SupplyDataStore-DF-AFR-DEV-3/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SupplyDataStore-DF-AFR-DEV-3"
		},
		"PhysChem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PhysChem'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_IBY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_IBY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_NEW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_NEW"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_POL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_POL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_PROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_PROS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snkPhysChem_ROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLSupplyCalc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODSBreweryCode",
						"type": "nvarchar"
					},
					{
						"name": "FYEAR",
						"type": "nvarchar"
					},
					{
						"name": "FMONTH",
						"type": "nvarchar"
					},
					{
						"name": "FWEEK",
						"type": "nvarchar"
					},
					{
						"name": "FDAY",
						"type": "nvarchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "nvarchar"
					},
					{
						"name": "PROCESS_AREA",
						"type": "nvarchar"
					},
					{
						"name": "PARAMETER",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "OPPORTUNITIES",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERC_IN_SPEC",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EnteredDateTime",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "PhyChem_ROS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PhysChem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ServerName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PhysChem_connectionString')]"
				},
				"connectVia": {
					"referenceName": "OnPremise",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BCIETL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lkp_OldEnteredDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT Max(EnteredDateTime) as MaxEnteredDateTime\n  FROM [Fact].[PhyChem_Data]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_lkp_oldDate",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy To Fact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lkp_OldEnteredDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n       [ODSBreweryCode]\n      ,[FYEAR]\n      ,[FMONTH]\n      ,[FWEEK]\n      ,[FDAY]\n      ,[DEPARTMENT]\n      ,[PROCESS_AREA]\n      ,[PARAMETER]\n      ,[ORDER_NUMBER]\n      ,[IN_SPEC]\n      ,[OPPORTUNITIES]\n      ,[PERC_IN_SPEC]\n      ,[EnteredDateTime]\n  FROM [Staging].[PhyChem_Data]\n  WHERE > '@{activity('Lkp_OldEnteredDate').output.firstRow.MaxEnteredDateTime}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChemCopyToFact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Fact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PhysChemETL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lkp_OldEnteredDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT Max(EnteredDateTime) as MaxEnteredDateTime\n  FROM [Fact].[PhyChem_Data]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_lkp_oldDate",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy To Fact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lkp_OldEnteredDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n       [ODSBreweryCode]\n      ,[FYEAR]\n      ,[FMONTH]\n      ,[FWEEK]\n      ,[FDAY]\n      ,[DEPARTMENT]\n      ,[PROCESS_AREA]\n      ,[PARAMETER]\n      ,[ORDER_NUMBER]\n      ,[IN_SPEC]\n      ,[OPPORTUNITIES]\n      ,[PERC_IN_SPEC]\n      ,[EnteredDateTime]\n  FROM [Staging].[PhyChem_Data]\n  WHERE > '@{activity('Lkp_OldEnteredDate').output.firstRow.MaxEnteredDateTime}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChemCopyToFact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Fact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_ALR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.13"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_CHAM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.116"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_IBY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.196"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_NEW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.39"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_PROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.178"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_scrPhysChem_ROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.139"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_srcPhysChem_POL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PhysChem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "10.111.240.87"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PhysChem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BCIETL1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clear Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLSupplyCalc",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PhySchemALR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Physchem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemCHAM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemALR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPOL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemCHAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_srcPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemNEW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemNEW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemIBY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Union All",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemIBY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Union]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_Union",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ALR')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_CHAM')]",
				"[concat(variables('factoryId'), '/datasets/ds_srcPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_IBY')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_IBY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PhysChemETL1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clear Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLSupplyCalc",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PhySchemALR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Physchem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ALR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemCHAM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemALR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_CHAM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPOL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemCHAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_srcPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_POL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemNEW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPOL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_NEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemPROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemNEW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_PROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemROS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemPROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_ROS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PhySchemIBY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemROS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Index]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_IBY",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Union All",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PhySchemIBY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spPhyschem_Union]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_scrPhysChem_Union",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snkPhysChem_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ALR')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_CHAM')]",
				"[concat(variables('factoryId'), '/datasets/ds_srcPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_POL')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_NEW')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_PROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_ROS')]",
				"[concat(variables('factoryId'), '/datasets/ds_scrPhysChem_IBY')]",
				"[concat(variables('factoryId'), '/datasets/ds_snkPhysChem_IBY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PhysChem_Ochestrate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PhysChemETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ETL2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_PhysChemETL2')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BCIChem_Ochestrate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ETL2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ETL1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BCIETL2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BCIETL2')]"
			]
		}
	]
}